body{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
header{
	text-align: center;
	background-color: #313131;
	padding-top: 50px;
	padding-bottom: 50px;
}
header h1{
	color: white;
	font-family: 'Lobster', cursive;
}
header h1:hover{
	color: pink;
}
header img{
	color: white;
}
main{
	max-width: 800px;
	margin: 0 auto;
}
main img{
	max-width: 100%;
}
main ol li:hover{
	color: pink;
}main ol li a:hover{
	color: pink;
	text-decoration: none;
}

footer{
	background-color: #313131;
	text-align: center;
	padding: 50px;
}
footer p{
	color: white;
}